*
  box-sizing: border-box
body 
  +regular300
  color: $main-black-color
img 
  max-width: 100%
strong
  +regular700
.line
  width: 9px
  height: 2px
  background-color: $button-color 
  margin-bottom: 5.5px
  &-big 
    width: 31px
    height: 2px
    background-color: $button-color
    margin-left: auto
    margin-right: auto
    margin-bottom: 40px
.container
  width: 1172px
  margin: auto
  position: relative
  &-title
    +regular400 
    font-size: 48px
  &-subtitle
    +regular300 
    font-size: 20px
.input
  padding: 16px 66px
  border: 1px solid $gray-color
  &:focus
    border: 1px solid $gray-color
.button 
  padding: 21px 55px
  background-color: $button-color
  text-transform: uppercase
  color: $white-color
  +semibold400
  border: none
  &:hover
    background-color: lighten($button-color, 10%)

@media (max-width: 1200px)
  .container
    width: 740px
@media (max-width: 768px)
  .container
    width: 540px
@media (min-width: 320px) and (max-width: 567px)
  .container
    max-width: 320px