.customers
  padding-top: 80px
  padding-bottom: 170px
  &-box
    max-width: 982px
    margin-left: auto
    margin-right: auto
  &__title
    +regular400 
    font-size: 24px
    line-height: 22px
    width: 165px
    text-align: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 88px
    letter-spacing: 0.2px
  &-slider
    &__item
      width: 170px
      height: 85px
      display: flex
      align-items: center
      justify-content: center
  &__arrow
    &-left
      top: 71.5%
    &-right
      top: 71.5%
.owl-carousel .owl-item img
  width: auto
@media (max-width: 1200px)
  .customers
    padding-bottom: 100px
    &-box
      max-width: 690px
    &__arrow
      &-left
        top: 68%
        left: -10%
      &-right
        top: 68%
        right: -10%

@media (max-width: 992px)
  .owl-carousel.owl-drag .owl-item
    display: flex
    justify-content: center
  .customers
    padding-bottom: 60px
    &__title
      margin-bottom: 30px
    &-box
      max-width: 515px
    &__arrow
      &-left
        top: 52%
        left: 10%
      &-right
        top: 52%
        right: 10%

@media (max-width: 768px)
  .customers
    &__arrow
      &-left
        top: 52%
        left: 0%
      &-right
        top: 52%
        right: 0%
        
@media (min-width: 320px) and (max-width: 567px)
  .customers
    padding-top: 60px
    padding-bottom: 40px
    &__arrow
      &-left
        top: 53%
        left: 7%
      &-right
        top: 53%
        right: 7%

