.hero
  color: $white-color
  background: url('../img/hero/hero-background.png') no-repeat center
  padding-bottom: 81px
  padding-top: 100px
  &-box
    display: flex
    justify-content: space-between
  &-text
    flex-basis: 50%
    margin-top: 12px
  &__title
    margin-top: 1px
    margin-bottom: 32px
    line-height: 60px
    font-size: 48px
    letter-spacing: 0.4px
    +regular400 
  &__subtitle
    margin-bottom: 59px
    font-size: 20px
    +regular300 
  &-block
    &__item
      display: flex
      align-items: center
      margin-bottom: 20px
    &__icon
      display: flex
      align-items: center
      justify-content: center
      width: 37px
      height: 37px
      text-align: center
      border: 1px solid $white-color
      border-radius: 50%
      +regular300 
      font-size: 14px
      margin-right: 26px
    &__text
      font-size: 15px
      letter-spacing: -0.05px
      +regular300 
  &-card
    width: 370px
    height: 429px
    background-color: #fff
    color: $main-black-color
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 25px
    text-align: center
    &__title
      +regular400 
      font-size: 18px
      margin-top: 37px
      margin-bottom: 28px
      line-height: 21px
      letter-spacing: 0.2px
  &-form
    position: relative
    &__input
      display: block
      margin-bottom: 17px
      text-align: center
      padding: 16px 63px 16px 64px
      +regular300 
      font-size: 13px
    &__button
      font-size: 16px
      margin-top: 3px
      padding: 22px 56px
      

@media (max-width: 1200px)
  .hero
    &__title
      font-size: 30px
      line-height: 40px
    &-card
      margin-top: 0

@media (max-width: 768px)
  .hero
    background: url('../img/hero/hero-background.png') no-repeat center
    background-size: cover
    padding-top: 140px
    &-box
      display: flex
      flex-direction: column
      align-items:  center
      height: 815px
    &__title
      width: 540px
      text-align: center
      margin-top: -70px
      margin-bottom: 0
    &__subtitle
      text-align: center
      margin-bottom: 36px
    &-text
      display: flex
      flex-direction: column
      align-items:  center
      
@media (min-width: 320px) and (max-width: 567px)
  .hero
    padding-bottom: 30px
    &-box
      height: 740px
    &__title
      width: 300px
      font-size: 22px
      line-height: 30px
    &__subtitle
      font-size: 16px
    &-block
      &__text
        font-size: 12px
    &-card 
      max-width: 320px
    &-text
      flex-basis: 40%

