.projects
  background-color: #e8e8e8
  padding-top: 60px
  padding-bottom: 81px
  &__title
    text-align: center
    font-size: 36px
    +regular400 
    margin-bottom: 41px
    &:after
      display: block
      content: ""
      background-color: $button-color
      width: 30px
      height: 2px
      margin-left: auto
      margin-right: auto
      margin-top: 25px
  &__subtitle
    text-align: center
    font-size: 20px
    margin-left: 5px
    margin-top: -4px
    margin-bottom: 97px
  &__button
    font-size: 14px
    padding: 21px 48px 21px 50px
    margin-top: 64px
    margin-left: -2px
.slider
  &__wraps
    display: flex
    width: 930px
  &__item
    display: flex
    width: 930px
    margin-left: auto
    margin-right: auto
  &-image
    width: 409px
    height: 340px
    flex-basis: 49%
    margin-left: 15px
  &-text
    margin-left: 84px
    flex-basis: 50%
    height: 340px
    &__title
      font-size: 24px
      +regular400 
      margin-top: -3px
    &__description
      font-size: 12px
      margin-top: 50px
      +regular300 
      &-text
        margin-top: 11px
        font-size: 16px
        +regular300 
    &__parametrs
      display: flex
      margin-top: 59px
      &-scale
        margin-right: 74px
      &-size
        margin-right: 73px
        margin-left: 14px
      &-date
        margin-right: 2px
      &-sm
        margin-bottom: 11px
        font-size: 12px
        +regular300 
        color: $primary-black-color
      &-num
        font-size: 16px
        +regular300 
        color: $main-black-color
      & span
        display: block
.arrows
  max-width: 20px
  position: absolute
  top: 65.7%
  cursor: pointer
  z-index: 1
  &__left
    left: 3px
  &__right
    right: 1px
@media (max-width: 1200px)
  .slider
    &__item
      width: 720px
    &-image
      width: 320px
    &-text 
      margin-left: 20px
      &__description
        margin-top: 33px
        &-text
          margin-top: 10px
      &__parametrs
        margin-top: 25px
        &-scale
          margin-right: 15px
        &-size
          margin-right: 15px
  .projects
    &__subtitle
      margin-bottom: 40px
    &__button
      margin-top: 39px
  .arrows
    top: 65%
    &__left
      left: -15%
    &__right
      right: -15%
@media (max-width: 992px)
  .arrows
    top: 65%
    &__left
      left: 0%
    &__right
      right: 0%

@media (max-width: 768px)
  .projects
    &__title
      margin-bottom: 40px
    &__subtitle
      margin-top: -15px
      margin-bottom: 35px
      margin-left: auto
      margin-right: auto
      max-width: 350px
      font-size: 17px
  .slider
    &__wraps
      width: 320px
      height: 680px
      flex-direction: column
      align-items: center
    &__item
      width: 340px
      flex-direction: column
      text-align: center
      margin-left: 0
      margin-right: 0
    &-image
      margin-left: 0
    &-text
      margin-left: 0
      &__title
        margin-top: 25px
      &__parametrs
        justify-content: space-between
  .arrows
    top: 55%
    &__left
      left: 10%
    &__right
      right: 10%
@media (min-width: 320px) and (max-width: 567px)
  .slider
    &__item
      height: 560px
    &-image
      width: 275px
      flex-basis: 35%
    &-text
      width: 275px
      &__parametrs
        &-scale
          margin-right: 0
          margin-left: 0
        &-size
          margin-right: 0
          margin-left: 0
        &-date
          margin-right: 0
          margin-left: 0
  .projects
    &__title
      font-size: 26px
    &__subtitle
      max-width: 300px
  .arrows
    top: 57%
    &__left
      left: 10%
    &__right
      right: 10%


  
    



  
